/*mise en page en-tête*/
.logo a img{
    width:61px;
    height:19px;
}

.logo{
    display:flex;
    align-items: end;
}
.logo:hover{
    border-top:solid 2px #0065FC; 
}

.menu{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.menu a{
    padding-top: 60px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 50px;
}
.menu a:hover{
    color:#0065FC;
    border-top:solid 2px #0065FC; 
}

header nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    margin-bottom: 60px;
}

a{
    color: black;
    font-style: normal;
    text-decoration: none;
}

/*mise en page générale*/
body{
    font-family: "raleway";
    max-width: 1400px;
    padding-left:55px;
    padding-right: 55px;
    margin:0px;
}

h1{
    font-size:25px;
    font-weight:700;
}

h2{
    font-size: 18px;
    font-weight:700;
}

h3{
    font-size:16px;
    font-weight:400;
}

h4{
    font-size:14px;
    font-weight:400;
}

/*mise en page bouton de recherche*/
.recherche img{
    border-radius:15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    padding:15px;
    background-color: #F2F2F2;

}

.recherche input{
    border: 1px solid #F2F2F2;
    height:50px;
    width:300px;
    font-size: 18px;
    font-weight:600;
    color: black;
    padding:20px;
}

.recherche button{
    border-radius:0px 15px 15px 0px;
    background-color: #0065FC;
    color:white;
    padding:15px;
    border:none;
    height:50px;
    font-size: 18px;
    font-weight:600;
    cursor:pointer;
}

.accueil-recherche form{
    display: flex;
    justify-content:flex-start;
    align-content:stretch;
}

.accueil-recherche-mobile{
    display:none;
}

/*mise en page recherche par filtres*/
.boutons_filtres button{
    font-size: 17px;
    font-weight:600;
    border:solid 3px #F2F2F2;
    background-color: white;
    border-radius: 30px;
    height:50px;
    padding:15px;
    display:flex;
    align-items:center;
    margin-left: 40px;
    cursor:pointer;
}
.boutons_filtres button:hover,
.boutons_filtres button:active{
    background-color: #DEEBFF;
}

.boutons_filtres img{
    width: 22px;
    height: 22px;
    margin-right:10px;
    object-fit: contain;
}

.boutons_filtres{
    display:flex;
    flex-direction: row;
}

.filtres1,
.filtres2{
    display:flex;
}

.filtres{
    display:flex;
    flex-direction: row;
    padding-top: 20px;
}

/*mise en page ligne d'information*/
.logo_info {
    width:30px;
    height:30px;
    margin-right:20px;
}

.info{
    display:flex;
    align-items: center;
}

/*mise en page de l'article "hebergements principaux"*/
.hebergements-principaux h1{
    margin-left:20px;
}

.card{
    height:124px;
    width:97%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    padding:4px;
}

.offre a h3,
.offre a h4,
.note{
    margin-top:5px;
    margin-bottom:5px;
    margin-left:20px;
    margin-right:5px;
}

.offre a h3{
    font-weight:700;
}

.offre{
    width:30%;
    background-color: white;
    border-radius: 20px;
    margin:10px;
    border-color:#F2F2F2;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.liste1,
.liste2{
    display:flex;
    justify-content: space-between;
}

.liste-hebergements{
    display:flex;
    flex-direction:column;
}

.hebergements-principaux{
    background-color: #F2F2F2;
    border-radius: 20px;
    width:65%;
    margin-bottom: 20px;
}

.plus{
    font-size: 18px;
    font-weight:700;
    padding:20px;
}

/*mise en page de l'article "les plus populaires"*/
.titre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
}

.titre img{
    height:15px;
    width:18px;
    padding-top:30px;
}

.card-pop{
    height:144px; 
    width:40%;
    object-fit:cover;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-self: center;
    padding:4px;
}

.texte h3,
.texte h4,
.note-pop{
    margin-top:10px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:5px;
}

.texte h3{
    font-weight:700;
}

.contenu{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    width:60%;
}

.offre-pop{
    width:100%;
}

.offre-pop a {
    display:flex;
    border-color:#F2F2F2;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    margin-bottom: 40px;
    margin-left:10px;
    margin-right: 10px;
}

.offres-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cadre-populaire{
    width:32%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 20px;
}
/*mise en page entre les articles "hebergements à marseille" et "les plus populaires"*/
.hebergements{
    display:flex;
    justify-content: space-between;
}

/*mise en page de l'article "activités à marseille"*/
.offre-act img{
    height: 389px;
    width:100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
}

.offre-act{
    border-color:#F2F2F2;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 20px;
    width:23%;
}

.offre-act a h3{
    margin-left:20px;
    font-weight:700;
}

.liste-activites{
    display:flex;
    justify-content:space-between;
}

/*mise en page du footer*/
.footer{
    display:flex;
    flex-direction:column;
    justify-items: center;
}

footer h2{
    padding-left:0px;
}

.footer a{
    font-size: 16px;
    font-weight:400;
    padding-top:10px;
    padding-bottom:10px;
}

footer{
    margin-top:40px;
    padding-top:45px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: #F2F2F2;
}


/*version tablette*/
@media screen and (min-width:768px) and (max-width:991px){
/*version tablette : mise en page générale*/
    .texte h3{
        font-size:14px;
    }

    .texte h4{
        font-size:13px;
    }

/*version tablette : mise en page des filtres*/
    .boutons_filtres{
        display: flex;
        justify-content: space-between;
    }

    .filtres1 button,
    .filtres2 button{
        margin-left:10px;
    }

/*version tablette : mise en page entre les blocs "Hébergements à Marseille" et "Les plus populaires"*/
    .hebergements{
        display:flex;
        flex-direction: column;
    }

/*version tablette : mise en page du bloc " Hébergements à Marseille"*/
    .hebergements-principaux{
        width:100%;
        display: flex;
        flex-direction: column;
    }

/*version tablette : mise en page du bloc "Les plus populaires"*/
    .offres-populaires{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        padding-bottom: 20px;
    }

    .offre-pop{
        width:30%;
    }

    .cadre-populaire{
        width:100%;
    }

/*version tablette : mise en page du bloc "Activités à Marseille"*/
    .offre-act img{
        height: 211px;
    }
}


/*version mobile*/
@media screen and (max-width:767px){

/*version mobile : mise en page générale*/
body{
    margin-top: 20px;
    padding-left :0px;
    padding-right: 0px;
}

h1,
h3{
    margin-left: 20px;
}

/*version mobile : mise en page du header*/
    .logo{
        display:flex;
        justify-content: center;
    }
    .logo:hover{
        border-top:none;
    }

    .menu a{
        padding-bottom:20px;
        width:50%;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        border-bottom:solid 3px #F2F2F2;
    }

    .menu a:hover{
        border-bottom:solid 3px #0065FC; 
        border-top: none;
    }

    header nav{
        display:flex;
        flex-direction: column;
    }

/*version mobile : mise en page bouton de recherche*/
    .accueil-recherche{
        display:none;
    }

    .accueil-recherche-mobile{
        display:block;
        margin-left: 20px;
        margin-right:20px;
    }
    
    .localisation{
        border-radius:15px 0px 0px 15px;
        border: 1px solid #F2F2F2;
        padding:15px;
        background-color: #F2F2F2;
    }
    
    .recherche_mobile input{
        border: 1px solid #F2F2F2;
        height:50px;
        width:280px;
        font-size: 18px;
        font-weight:600;
        color: black;
        padding:20px;
    }
    
    .recherche_mobile button{
        border-radius:0px 15px 15px 0px;
        background-color: #0065FC;
        color:white;
        padding:15px;
        border:none;
        height:50px;
        font-size: 18px;
        font-weight:600;
        cursor:pointer;
    }
    
    .accueil-recherche-mobile form{
        display: flex;
    }

/*version mobile : mise en page des filtres*/
    .filtres{
        display:flex;
        flex-direction: column;
        margin-left:20px;
    }

    .boutons_filtres button{
        margin-left: 0px;
        margin-bottom:20px;
        margin-right:20px;
        width:180px;
        height:50px;
        font-size: 11px;
        display: flex;
        align-items: center;
    }

    .filtres1,
    .filtres2{
        display:flex;
    }

    .boutons_filtres{
        display: flex;
        flex-direction:column;
    }

/*version mobile : mise en page information*/
.logo_info{
    margin-left: 20px;
    margin-right:0px;
}

/*version mobile : mise en page du bloc "Les plus populaires"*/
    .cadre-populaire{
        order:1;
        width:100%;
        border-radius: 0px;
    }

    .titre{
        padding-left:0px;
    }

    .offre-pop{
        display: flex;
        justify-content: center;
        width:95%;
    }

    .offre-pop a{
        width:100%;
        margin-left:0px;
    }

/*version mobile : mise en page du bloc "Hébergements à Marseille"*/
    .hebergements-principaux{
        order:2;
        width:100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .liste1,
    .liste2{
        display:flex;
        flex-direction: column;
    }

    .liste-hebergements{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .offre{
        width:95%;
        display:flex;
        justify-content:center;
    }

    .offre a{
        width:100%;
    }
    
    .card{        
        height:140px;
        width:98%;
    }

    .offre h3{
        padding-bottom:0px;
    }

    .plus{
        display:none;
    }

/*version mobile : mise en page entre les blocs "Hébergements à Marseille" et "Les plus populaires"*/
    .hebergements{
        display:flex;
        flex-direction:column;
    }

/*version mobile : mise en page du bloc "Activités à Marseille"*/
    .activites{
        margin-top: 50px;
    }

    .liste-activites{
        display:flex;
        flex-direction: column;
        width:90%;
        padding-left: 20px;
    }

    .offre-act{
        width:100%;
        margin-bottom: 30px;
        display:flex;
        flex-direction: column;
    }

    .offre-act img{
        height:200px;
    }

/*version mobile : mise en page du footer*/
    footer{
        display:flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        padding-left:20px;
    }

    .footer{
        margin-bottom: 40px;
    }
}